In [26]:
# Import the cassandra package
import cassandra

In [28]:
from cassandra.cluster import Cluster
cluster = Cluster()

# To establish connection and begin executing queries, we need a session
session = cluster.connect()

In [29]:
try:
    session.execute("CREATE KEYSPACE IF NOT EXISTS ernest \
                    WITH REPLICATION = \
                    {'class': 'SimpleStrategy', 'replication_factor': 1}")
    
except Exception as e:
    print(e)

### The data modeling is verified using the following queries:

####  Query 1:  Get the artist, song title and song's length in the music app history that was heard during  sessionId = 338, and itemInSession = 4

In [30]:
query = "select artist, song, length from ernest.song_library WHERE sessionId = 338 and itemInSession = 4  "
try:
    rows = session.execute(query)
    for row in rows:
        print(row.artist, row.song, row.length)
except Exception as e:
    print(e)

Faithless Music Matters (Mark Knight Dub) 495.3073

#### Query 2: Get only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182

In [34]:
query = "select  artist, song, first, last from ernest.artist_library WHERE userId = 10 and itemInSession = 2 and sessionId = 182"
try:
    rows = session.execute(query)
    for row in rows:
        print(row.artist, row.song, row.first, row.last)
except Exception as e:
    print(e)

Error from server: code=2200 [Invalid query] message="unconfigured table artist_library"

####  Query 3: Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

In [32]:
query = "select first, last from ernest.user WHERE song = 'All Hands Against His Own'"
try:
    song = 'All Hands Against His Own'
    rows = session.execute(query)
    print("The following user(s) listened to the song, '{}':".format(song))
    for row in rows:
        print(row.first, row.last)
except Exception as e:
    print(e)

The following user(s) listened to the song, 'All Hands Against His Own':
Jacqueline Lynch
Tegan Levine
Sara Johnson

### Drop the tables before closing out the sessions

In [33]:
session.execute("drop table ernest.song_library")
session.execute("drop table ernest.artist_library")
session.execute("drop table ernest.user")

### Close the session and cluster connectionÂ¶

In [8]:
session.shutdown()
cluster.shutdown()